
/*General Styling*/
body {
    background-color: #aeecef;
}

/*Nav Bar*/
.navbar {
    padding-left: 2rem;
    background-color: #27476e;
}

.navbar-logo {
    max-height: 3.5rem;
    max-width: auto;
    border-radius: 50%;
    overflow: hidden;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #aeecef;
}

.navbar-toggler {
    background-color: #c59d74;
}

.dropdown-menu {
    background-color: #c59d74;
}

.custom-heading {
    color: #000;
    margin-top: 1rem;
}

.card {
    background-color: #fff;
}

#hotel-carousel {
    width: 80%;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    max-height: 40rem;
    /* Adjust the value as needed */
    object-fit: contain;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: #fff;
}

/* About section */

.section-title {
    color: #27476e;
}

.about-section p,
.lake-tale-section p {
    color: #27211b;
    text-align: center;
}

.about-row {
    border: 1px solid #27476e;
    border-radius: 5px;
    margin-bottom: 2rem;
    background-color: #ffffff;
}

hr {
    height: 4px;
    background-color: #27476e;
}

/* Footer */

footer {
    background-color: #27476e;
}

/* Media Queries */

/* Media Queries for max-width: 576px (small screens) */

@media (max-width:576px) {

    .custom-heading {
        font-size: 1.5rem;
    }
}

/* Media Querie for max-width: 992px */

@media (max-width: 992px) {
    .card-body {
        height: 20rem;
        overflow: auto;
    }
}