
/*General Styling*/
body {
    background-color: #aeecef;
}

/*Nav Bar*/
.navbar {
    padding-left: 2rem;
    background-color: #27476e;
}

.navbar-logo {
    max-height: 3.5rem;
    max-width: auto;
    border-radius: 50%;
    overflow: hidden;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #aeecef;
}

.navbar-toggler {
    background-color: #c59d74;
}

.dropdown-menu {
    background-color: #c59d74;
}

.custom-row {
    padding: 3rem 0;
}

.custom-heading {
    color: #000;
    margin-top: 1rem;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    max-height: 40rem;
    /* Adjust the value as needed */
    object-fit: contain;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: #fff;
}

/* Media Queries */

/* Media Queries for max-width: 576px (small screens) */

@media (max-width:576px) {

    .custom-heading {
        font-size: 1.5rem;
    }
}