{% extends 'base.html' %}

{% block title %}
Booking Successful
{% endblock %}

{% block content %}
<!-- Booking Successful -->
<div class="container mb-4">
    <h2 class="text-center custom-heading">Booking Successful!</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <img src="{{ booking.hotel.image.url }}" class="card-img-top" alt="{{ booking.hotel.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ booking.hotel.name }}</h5>
                    <p class="card-text">{{ booking.hotel.description }}</p>
                    <p class="card-text">Booking ID: {{ booking.id }}</p>
                    <p class="card-text">Check In Date: {{ booking.check_in_date }}</p>
                    <p class="card-text">Check Out Date: {{ booking.check_out_date }}</p>
                    <p class="card-text">Guests: {{ booking.num_guests }}</p>
                    {% if booking.breakfast_included %}
                    <p class="card-text">Breakfast Included: {{ booking.breakfast_included }} </p>
                    {% endif %}
                    {% if booking.kids_club_tickets %}
                    <p class="card-text">Kids Club Tickets: {{ booking.kids_club_tickets }} </p>
                    {% endif %}
                    <p class="card-text">If you have any questions or need further assistance, please contact us!</p>
                    <a href="{% url 'contact' %}" class="btn btn-info mb-1">Contact Us</a>
                    <a href="{% url 'booking_overview' %}" class="btn btn-success">My Bookings</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}