{% extends 'base.html' %}

{% block title %}
Hotel Booking
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center custom-heading">Available Hotels</h2>
    <div class="row">
        {% for hotel in hotels %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ hotel.image.url }}" class="card-img-top" alt="{{ hotel.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ hotel.name }}</h5>
                    <p class="card-text">{{ hotel.description }}</p>
                    <a href="{% url 'my_booking' hotel.id %}" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Carousel Pagination controls -->
    <div class="pagination justify-content-center mb-2">
        <div class="mr-5">
            <span class="current-page text-white">Page: {{ hotels.number }}</span>
        </div>
        {% if hotels.has_previous %}
        <a href="?page={{ hotels.previous_page_number }}" class="btn btn-dark">Previous</a>
        {% endif %}
        {% if hotels.has_next %}
        <a href="?page={{ hotels.next_page_number }}" class="btn btn-dark">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}