{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!--Heading-->
    <div class="row">
        <div class="col">
            <h1 class="text-center custom-heading">Welcome to Oasis Hotels</h1>
        </div>
    </div>
        <div class="d-flex justify-content-center">
           <div class="col-md-6">
               <div class="card">
                <div class="card-body">
                    <p>A few reasons to choose Oasis Hotels</p>
                    <ul class="list-group">
                        <li>Fantastic range of hotel locations</li>
                        <li>Quick and easy to book your stay</li>
                        <li>Outstanding hotel dining options</li>  
                        <li>Family orientated hotel options</li>  
                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    {% if user.is_authenticated %}
                    <a href="{% url 'hotel_booking' %}" class="btn btn-success">Book Now</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="btn btn-danger">Sign Up</a>
                    {% endif %}
                </div>  
            </div>
        </div>
    </div>
</div>

<div class="container carousel-container">
   <div class="container d-flex justify-content-center">
        <div id="hotel-carousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for hotel in hotels %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <a {% if user.is_authenticated %}href="{% url 'hotel_booking' %}"
                            {% else %}href="{% url 'account_signup' %}" {% endif %}>
                            <img src="{{ hotel.image.url }}" class="d-block w-100" alt="{{ hotel.name }}">
                        </a>
                    <div class="carousel-caption">
                        <h3>{{ hotel.name }}</h3>
                        <p>{{ hotel.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Carousel navigation indicators -->
            <ol class="carousel-indicators">
                {% for hotel in hotels %}
                <li data-target="#hotel-carousel" data-slide-to="{{ forloop.counter0 }}"
                    {% if forloop.first %}class="active" {% endif %}></li>
                {% endfor %}
            </ol>

            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#hotel-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#hotel-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

    <div class="container" id="about-container">
    <div class="row">
        <div class="col 12">
            <h2 class="text-center custom-heading">About Us</h2>
            <hr class="my-4">
        </div>
    </div>
    <div class="row about-row">
        <div class="col-12 mb-2 mt-2">
            <div class="about-section">
                <h5 class="section-title">Oasis Hotels</h5>
                <p>
                    Oasis Hotels is an exclusive selection of stunning fine hotels and resorts  spread all around the globe. 
                    Each one is unique, offering a combination of charm, character, and luxury. Also, they are all in excellent locations, 
                    whether you are looking for a quiet getaway or want something for the whole family.
                    While every hotel in our collection is unique, there is one major thing that unites them all; the fact that we are always hospitable.
                    The teams at all of the hotels are professional and focus on customer satisfaction. 
                    From the front of the house to the chefs in the kitchen and the cleaners who keep each hotel pristine, you can expect the very best service.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}