{% extends 'base.html' %}

{% block content %}
<div class="container">
       <!--Heading-->
        <div class="row">
            <div class="col">
                <h1 class="text-center custom-heading">Welcome to Oasis Hotels</h1>
            </div>
        </div>
        <div class="row">
           <div class="col-md-6 mb-2 mt-2">
               <div class="card">
                    <div class="card-body">
                        <p>Reasons to choose Oasis Hotels</p>
                        <ul class="list-group">
                               
                        </ul>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        {% if user.is_authenticated %}
                        <button type="button" class="btn btn-success">Book Now</button>
                        {% else %}
                        <a href="#" class="btn btn-danger">Sign Up</a>
                        {% endif %}
                    </div>  
               </div>
           </div>
        </div>

    <div id="hotel-carousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            {% for hotel in hotels %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ hotel.image.url }}" class="d-block w-100" alt="{{ hotel.name }}">
                <div class="carousel-caption">
                    <h3>{{ hotel.name }}</h3>
                    <p>{{ hotel.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Carousel navigation indicators -->
        <ol class="carousel-indicators">
            {% for hotel in hotels %}
            <li data-target="#hotel-carousel" data-slide-to="{{ forloop.counter0 }}"
                {% if forloop.first %}class="active" {% endif %}></li>
            {% endfor %}
        </ol>

        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#hotel-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#hotel-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col 12">
            <h2 class="text-center custom-heading">About Us</h2>
            <hr class="my-4">
        </div>
    </div>
    <div class="row about-row">
        <div class="col-12 mb-2 mt-2">
            <div class="about-section">
                <h5 class="section-title">Oasis Hotels</h5>
                <p>About Oasis Hotels</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}