{% extends 'base.html' %}

{% block title %}
Hotel Booking
{% endblock %}

{% block content %}
<div class="container mb-4">
    <h2 class="text-center custom-heading">Make a Booking</h2>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <img src="{{ hotel.image.url }}" class="card-img-top" alt="{{ hotel.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ hotel.name }}</h5>
                    <p class="card-text">{{ hotel.description }}</p>
                    <p class="card-text">Maximum Guests: {{hotel.max_guests}} </p>
                    <p class="card-text">Price: £ {{hotel.price}} </p>
                    {% if hotel.extras.exists %}
                    <p class="card-text">Extras:</p>
                    <ul>
                        {% for extra in hotel.extras.all %}
                        <li>{{ extra.name }} Price: £ {{ extra.price }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form method="POST" action="{% url 'my_booking' hotel.id %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="check-in" class="col-sm-4 col-form-label">Check-in Date</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control flatpickr" id="check-in" name="check_in_date" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="check-out" class="col-sm-4 col-form-label">Check-out Date</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control flatpickr" id="check-out" name="check_out_date" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="guests" class="col-sm-4 col-form-label">Number of Guests</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="guests" name="num_guests" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="breakfast" class="col-sm-4 col-form-label">Breakfast Included</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="breakfast"
                                    name="breakfast_included">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kids-club-tickets" class="col-sm-4 col-form-label">Kids Club Tickets</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="kids-club-tickets" name="kids-club-tickets">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8 offset-sm-4">
                                <button type="submit" class="btn btn-primary">Book Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var bookedDatesJson = '{{ booked_dates_json|safe }}';
    if (bookedDatesJson) {
        var bookedDates = JSON.parse(bookedDatesJson);
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr('.flatpickr', {
                dateFormat: 'Y-m-d',
                minDate: 'today',
                disable: bookedDates.map(function (dates) {
                    return {
                        from: dates[0],
                        to: dates[1]
                    };
                }),
                static: true
            });
        });
    }
</script>
{% endblock %}